.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.logo {
    font-size: 25px;
    color: #2a68ff; 
}

.menu {
    display: flex;
    gap: 25px;
}

.menuList {
    color: #6f6f6f;
}

.menuList:hover {
    color: #2a68ff;
}
